node_modules
/dist/
.DS_Store
**/.history
src/tmp/
.routify
.netlify
assets/build
.vercel
dist/*
!src/node_modules
package-lock.json
yarn.lock
yarn-error.json
yarn-error.log
.idea/
/server/services/cdn/static/
.env.ts
